body {
  background-color: skyblue;
  text-align: center;
}
h1 {
  text-align: center;
  color: red;
  font-family: verdana;
  font-size: 250%;
}
p {
  text-align: center;
  color: black;
  font-family: courier;
  font-size: 450%
  border: 30px solid green;
  padding: 3px;
 }