body {
  background-color: black;
}
h1 {
  color: red;
  font-family: verdana;
  font-size: 250%;
  border: 3px powderblue;
  padding: 50px;
}
p {
  color: yellow;
  font-family: courier;
  font-size: 150%
 }