body {
  background-color: skyblue;
}
h1 {
  color: red;
  font-family: verdana;
  font-size: 250%;
  border: 3px powderblue;
  padding: 50px;
}
p {
  color: green;
  font-family: courier;
  font-size: 150%
 }